/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 3.0 License

Name       : Unwritten
Description: A two-column, fixed-width design with a bright color scheme.
Version    : 1.0
Released   : 20120710
*/

* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: underline;
	color: #336784;
}

body {
	color: #595350;
	line-height: 2em;
	background: #ECE0D2 url(../images/bg.jpg);
	font-size: 10pt;
}

body,input {
	font-family: 'Ubuntu', Kreon, Verdana, sans-serif;
	/*font-family: 'Montserrat', 'Ubuntu Condensed', Verdana, sans-serif;
	font: Verdana;*/
}

br.clearfix {
	clear: both;
}

strong {
	color: #000;
}

h1,h2,h3,h4 {
	font-weight: normal;
	/*text-transform: lowercase;*/
}

h2,h3,h4 {
	color: #696969;
	font-family: 'Montserrat', 'Ubuntu Condensed', Verdana, sans-serif;
	margin-bottom: 0.25em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1.0em;
}

img.alignleft {
	margin: 5px 20px 20px 0;
	float: left;
}
img.alignright {
	margin: 5px 20px 20px 0;
	float: right;
}

img.aligntop {
	margin: 5px 0 20px 0;
}

p {
	margin-bottom: 0.75em;
}

ul {
	margin-bottom: 0.75em;
}

ul h4 {
	margin-bottom: 0.4em;
}

.post {
	margin: 0 0 40px 0;
}

#content {
	background: #FFF;
	width: 1150px;
	padding: 25px;
	float: left;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
}

#footer {
	text-align: center;
	padding: 0px 0 10px 0;
	color: #A59D93;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.75);
}

#footer a {
	/*color: #A59D93;*/
	color: #39C2F0;
}

#header {
	padding: 0px 40px 0px 40px;
	height: 100px;
	position: relative;
	width: 1100px;
}

#logo {
	position: absolute;
	line-height: 20px;
	top: 0;
	left: 20px;
	height: 100px;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.9);
}

#logo a {
	text-decoration: none;
	color: #696969;
}

#logo h1 {
	font-family: 'Montserrat', 'Ubuntu Condensed', sans-serif;
	/*font-family: Satisfy, script;*/
	font-size: 2em;
}

#menu {
	bottom: 0;
	/*font-family: Kreon, sans-serif;*/
	font-family: 'Montserrat', Kreon, Verdana, sans-serif;
	line-height: 65px;
	left: 0;
	position: absolute;
	width: 1150px;
	margin: 0 0 0 0;
	height: 65px;
	background: #336784 url(../images/bg2.jpg);
	padding: 0 25px 0 25px;
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.25), 0px 0px 6px 0px rgba(255,255,255,0.9);
	text-shadow: 1px 1px 0px rgba(0,0,0,0.6);
}

#menu a {
	font-size: 1.25em;
	text-decoration: none;
	color: #FFF;
}

#menu ul {
	list-style: none;
}

#menu ul li {
	display: inline;
	padding: 0 19px 0 19px;
}

#menu ul li.first {
	padding-left: 0;
}

#page {
	width: 1180px;
	padding: 0;
	margin: 20px 0 10px 0;
	position: relative;
}

#page .section-list {
	list-style: none;
	padding-left: 0;
}

#page .section-list li {
	clear: both;
	padding: 25px 0 25px 0;
}

#page ul {
	
}

#page ul li {
	padding: 5px 10px 5px 10px;
}

#page ul li.first {
	padding-top: 0;
	border-top: 0;
}

#col1 {
	float: left;
	width: 330px;
	overflow: hidden;
}

#col2 {
	width: 330px;
	overflow: hidden;
	margin: 0 0 0 365px;
}

#search {
	line-height: 125px;
	top: 0;
	position: absolute;
	right: 0;
	height: 125px;
}

#search input.form-submit {
	margin-left: 1em;
	background: #336784 url(../images/bg2.jpg);
	font-family: Kreon, sans-serif;
	border: 0;
	color: #FFF;
	padding: 7px;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.25), 0px 0px 6px 0px rgba(255,255,255,0.9);
}

#search input.form-text {
	padding: 8px;
	border: 0;
	background: rgba(62,59,57,0.5);
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.5), 0px 0px 6px 0px rgba(255,255,255,0.9);
	color: #fff;
	width: 290px;
}

#splash {
	padding: 40px;
	position: relative;
	background: #FFF;
	margin: 20px 0 0 0;
	height: 250px;
	width: 1100px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
}

#wrapper {
	margin: 20px auto 0 auto;
	width: 1180px;
	position: relative;
}

/*Graphs */

.awesome .graph-header { width: 250px; }
.sales   .graph-header { width: 250px; }

.sales { margin-left: 20px; }
li { margin-bottom: 3px; }

.graph {
	  margin-bottom: 50px;
	  margin-top: 30px;
	  clear: both;
	  font-family: 'Ubuntu', 'Ubuntu Condensed', 'Trebuchet MS', georgia, serif;
	  font-size: 14px;
}

.graph .label {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.graph-header h5 {
  margin-bottom: 0px;
}

.graph-header {
  text-align: right;
}

.graph-header p {
  margin-top: 0px;
}

.graph .legend td, .graph .legend, .graph .legend tr {
  padding: 0px;
  margin: 0px;
  border-collapse:collapse;
}

.graph .legend {
  margin-left: 10px;
}

.graph .legend td {
  padding-right: 5px;
}

.graph .legend .color-box {
  width: 14px;
  height: 10px;
  overflow: hidden;
}

